.userInfo {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-top:20px;
  &__name {
    font-weight: 500;
    font-size: 22px;
  }

  &__addFriend {
    color: #a5abcc;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }



}